
@media(min-width: 360px) and (max-width: 400px ){
  .mobile-width{
    max-width: 330px !important;
  }
}
.small-text{
  font-size: 0.6em;
}
.bg-gray{
  background: var(--gray);
}
.purple-gradient{
  background: linear-gradient(145.39deg, #642092 0%, #C96A8A 97.04%);
}
.hide-on-mobile{
  display: none;
}
@media(min-width:768px){
  .hide-on-mobile{
    display: block;
  }
}
